*{
    box-sizing: border-box;
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8{
    display: flex;
    flex-wrap: wrap;
}

.azul1, .azul2, .azul3, .azul4, .azul5, .azul6, .azul7, .azul8, .azul9, .azul10{
    text-align: center;
    color: white;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: royalblue;
}

@media (max-width:427px){
    .row3, .row5{
        flex-wrap: nowrap;
    }
    .row6{
        justify-content: flex-end;
    }
    .azul8{
        width:25%;
    }
}

@media (min-width: 428px) and (max-width: 693px){
    .row2, .row6{
        justify-content: flex-end;
    }
    .row3, .row5{
        flex-wrap: nowrap;
    }
    .azul1, .azul2, .azul3, .azul5, .azul8, .azul9, .azul10{
        width:25%;
    }
    .azul4{
        width:75%;
    }
}
@media (min-width: 694px){
    .row2, .row4, .row5, .row8{
        justify-content: flex-end;
    }
    .azul1, .azul2{
        width:75%;
    }
    .azul3, .azul4, .azul9, .azul10{
        width: 25%;
    }
    .azul5, .azul7{
        width: 90%;
    }
    .azul6{
        width: 85%;
    }
}